div {
    margin: 0px;    
    height: 100px;
    width: 750px;
}

.pan, .salchicha {
    box-shadow: inset -15px -10px rgba(28, 13, 85, 0.15);
}

.pan {
    background-color: rgb(221, 187, 142);
    margin-left: 75px;
}


.salchicha {
    border-radius: 75px;
    background-color: rgb(136, 84, 60);
    width: 900px;
}

#upper {
    /* round borders */

    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#lower {
    /* round borders */

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
}

body {
    align-items: center;
    justify-content: center;
}

.light {
    height: 5.5px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 75px;
    margin: 0px 0px 0px 30px;
}

.ketchup, .mayonese {
    height: 20px;
    width: 700px;
    border-radius: 75px;
    box-shadow: inset -5px -4px rgba(28, 13, 85, 0.15);
    padding-top: 2px;
}

.mayonese {
    background-color: rgba(240, 227, 170, 0.9);
    margin: 3px 0px 0px 50px;
}

.ketchup {
    background-color: rgba(170, 71, 71, 0.9);
    margin: 0.5px 0px 0px 120px;
}