body {
    font-family: 'Poppins', sans-serif;
    margin: 25px 50px 25px 50px;
    background-color: rgb(245, 245, 245);
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #ffffff;
    border: 2px;
    border-color: #dfdfdf;
    border-style: solid;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.image {
    width: 300px;
    border-radius: 25px;
    cursor: pointer;
}

.gallery {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    margin: 10px 15px;
}