body {
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    margin-top: 25px;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

td, th {
    border: solid 1px rgb(199, 199, 199);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

td {
    vertical-align: top;
    text-align: left;
}

.box {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    border-radius: 25px;
    border-color: rgb(207, 204, 204);
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.category {
    flex: 0 0 auto;
    border-radius: 25px;
    border-color: rgb(226, 224, 224);
    background-color: rgb(244, 246, 247);
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    padding: 5px 25px 25px 25px;
    margin: 0px 5px 10px 5px;
}

.img {
    width: 150px;
}

.txtinput {
    width: 300px;
}

.contact {
    display: flex;
    flex-flow: row;
}

.info, .text {
    flex: 0 0 auto;
    width: fit-content;
    padding: 10px;
}

.text {
    text-align: right;
}
form {
    align-items: center;
}

textarea{
    min-width: 550px;
    min-height: 100px;
    width: 550px;
    height: 100px;
    max-width: 550px;
    max-height: 100px;
}